doctype html
html
    head
        title = "pre Tic Tac Toe app"
        link(rel='stylesheet', href='/css/app.css')
    body
        #wrapper.wrapper
            #main.main
                #ttt.ttt
                    ul.row
                        li.cell(data-row=0, data-column=0)
                        li.cell(data-row=0, data-column=1)
                        li.cell(data-row=0, data-column=2)
                    ul.row
                        li.cell(data-row=1, data-column=0)
                        li.cell(data-row=1, data-column=1)
                        li.cell(data-row=1, data-column=2)
                    ul.row
                        li.cell(data-row=2, data-column=0)
                        li.cell(data-row=2, data-column=1)
                        li.cell(data-row=2, data-column=2)

                button#reset.reset Reset
                #winner.winner

            #sidebar.sidebar
                include blocks/versions.jade

        #footer.footer
            img(src='/images/tanuki-logo.png')
            | Tic Tac Toe. ver 0.0.2 Tanuki

        script(src='/js/lib/jquery.min.js')
        script(src='/js/ttt.js')
        script(src='/socket.io/socket.io.js')