doctype html
html
    include ./blocks/head
    body
        #wrapper.wrapper
            block content
            include ./blocks/sidebar.jade
            include ./blocks/footer.jade

    include ./blocks/scripts.jade