extends ./../layout

block content
   #board-info.board-info
      #waitingForPlayer.waitingForPlayer Waiting For Player
      #players.players
         #first-player.first-player
         .vs VS
         #second-player.second-player
      #room.room
         span.label Room -
         span.value