body,
html,
.wrapper {
  height: 100%;
}

.wrapper {
  margin-bottom: -100px;
}

.main {
  float: left;
  width: 85%;
}

.sidebar {
  float: right;
  width: 15%;
}

.footer {
  clear: both;
  height: 100px;
}

a {
  color: $link_color;

  &:hover {
    color: $link_hover;
  }
}