@import 'reset';
@import 'settings';
@import 'layout';
@import 'blocks/sidebar';
@import 'blocks/footer';
@import 'blocks/board';
@import 'blocks/board_info';

.reset {
  width: $ttt_size;
  height: 28px;
  margin-top: 20px;
}

.winner {
  height: 20px;
  width: $ttt_size;
  margin-bottom: 10px;
  text-align: center;
}
