#versions.versions
    h2.version-title App versions:
    ul.first
        li
            a(href='/') Main version
    .title Tanuki branch
    ul
        li
            a(href='/ver-0.0.2') ver. 0.0.2
        li
            a(href='/ver-0.0.1') ver. 0.0.1