doctype html
html
    head
        title = "pre Tic Tac Toe app 0.0.1"
        link(rel='stylesheet', href='/css/ver001/app.css')
    body
        #ttt.ttt
            ul.row
                li.cell(data-row=0, data-column=0)
                li.cell(data-row=0, data-column=1)
                li.cell(data-row=0, data-column=2)
            ul.row
                li.cell(data-row=1, data-column=0)
                li.cell(data-row=1, data-column=1)
                li.cell(data-row=1, data-column=2)
            ul.row
                li.cell(data-row=2, data-column=0)
                li.cell(data-row=2, data-column=1)
                li.cell(data-row=2, data-column=2)

        #winner.winner

        #sidebar.sidebar
            include ../blocks/versions.jade

        #footer.footer
            img(src='/images/tanuki-logo.png')
            | Tic Tac Toe. ver 0.0.1 Tanuki

        script(src='/js/ver001/lib/jquery.min.js')
        script(src='/js/ver001/ttt.js')
        script(src='/socket.io/socket.io.js')